@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&family=Roboto:wght@700&display=swap");
* {
  box-sizing: border-box;
}
:root {
  --mainFont: "Roboto", sans-serif;
  --secondaryFont: "Raleway", sans-serif;
}

ul {
  list-style-type: none;
}

.studentName {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.studentName h1 {
  margin: none;
  font-family: var(--mainFont);
}

.studentImage {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 25%;
}

.studentImage img {
  border: 1px solid black;
  width: 60%;
  border-radius: 50%;
  margin-top: 20%;
}

.studentInfoWrapper {
  width: 75%;
}

.studentButton {
  height: 20%;
  display: flex;
  justify-content: space-between;
}
.studentButton button {
  color: grey;
  margin-right: 15px;

  border: none;
  background: white;
  font-size: 2.5rem;
}
.studentInfo {
  font-family: var(--secondaryFont);
}
.hideTestScores {
  display: none;
}

.searchWrapper input {
  font-family: var(--secondaryFont);
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
  border-bottom-style: solid;
  padding-bottom: 5px;
  margin: 8px;
  font-size: 1.1rem;
}
.searchWrapper input:focus {
  outline: none;
}
.searchWrapper input:focus-within {
  border-bottom: 2px solid black;
}
.searchWrapper input::placeholder {
  color: lightslategray;
}
.studentTagWrapper {
  display: flex;
}
.studentTagWrapper li {
  border-radius: 3px;
  margin-right: 5px;
  background: rgb(196, 202, 207);
  padding: 7px;
}
